.red{
    background: rgb(224, 90, 90);
    background-color: rgb(224, 90, 90);
}

.blue{
    background: rgb(90, 195, 224);
    background-color: rgb(90, 195, 224);
}

.green{
    background: rgb(90, 224, 166);
    background-color: rgb(90, 224, 166);
}

.yellow{
    background: rgb(238, 238, 113);
    background-color: rgb(238, 238, 113);
}

h1{
    text-align: center;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: large;
}
.blockquote-footer{
    font-size: 20px;
}

.main_page{
    background-image: url('https://i.pinimg.com/originals/e0/e2/09/e0e209283e4a1d55722e2bb18bcbd19d.jpg');
}

.card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 600px;
}