<html>
    <head>
        <title>Welcome to the PokePicker</title>
    </head>
    <body>
        <h1>Please select your favorite element</h1>
        <form action="/results" method="post">
            <select id="element" name= "user_element"> 
            <option value="Water"> Water</option>
            <option value="Psychic"> Psychic</option>
            <option value="Dark"> Dark</option>
            <option value="Flying"> Flying</option>
            <option value="Ice"> Ice</option>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
