<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" rel="stylesheet">
        <link rel="icon" href="https://img.pngio.com/pokeball-pokemon-ball-png-images-45334-free-icons-and-png-pokeball-icon-png-894_894.png">
        <title>PokePicker</title>
    </head>
    <body class="green">
        <h1><img src="https://static1.textcraft.net/data1/6/e/6e9fc4f47eec87a8db04bdf22567e48705260e03da39a3ee5e6b4b0d3255bfef95601890afd80709da39a3ee5e6b4b0d3255bfef95601890afd807098b219a7e39d39393d715ca2adaff3d39.png"></h1>
        <form action="/results" method="post">
        <div class="form-group">
            <label for="user_element"><img src="https://static1.textcraft.net/data1/1/a/1aad77a32f311c5f30a3d0d783aabafe93b33e3fda39a3ee5e6b4b0d3255bfef95601890afd80709da39a3ee5e6b4b0d3255bfef95601890afd80709ff115cccc72bd22c47a7cb067a25b991.png"></label>
            <select class="form-control" id="user_element" name= "user_element">
            <option>Grass</option>
            <option>Bug</option>
            <option>Steel</option>
            <option>Poison</option>
            <option>Normal</option>
            </select>
        </div>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
