<html>
    <head>
        <title>Welcome to the PokePicker</title>
    </head>
    <body>
        <h1>Please select your favorite element</h1>
        <form action="/results" method="post">
            <select id="element" name= "user_element"> 
            <option value="Fire"> Fire</option>
            <option value="Rock"> Rock</option>
            <option value="Fighting"> Fighting</option>
            <option value="Fairy"> Fairy</option>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
