<html>
    <head>
        <title>Welcome to the PokePicker</title>
    </head>
    <body>
        <h1>Please select your favorite element</h1>
        <form action="/results" method="post">
            <select id="element" name= "user_element"> 
            <option value="Electric"> Electric</option>
            <option value="Ghost"> Ghost</option>
            <option value="Dragon"> Dragon</option>
            <option value="Ground"> Ground</option>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
