<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" rel="stylesheet">
        <link rel="icon" href="https://img.pngio.com/pokeball-pokemon-ball-png-images-45334-free-icons-and-png-pokeball-icon-png-894_894.png">
        <title>Arbok</title>
    </head>
    <body class="green">
    <div class="alert alert-success" role="alert">
    Congratulations! Your starter pokemon is Poison-type. Poison-types favor attacking, especially when they can inflict the debilitating Poison effect, which deals escalating damage on successive turns. However, these Pokemon can also have great defensive moves, such as Baneful Bunker. Scroll down to learn more about your starter Pokemon!
    </div>
    <div class="card mx-auto" style="width: 75%;">
        <img src="https://cdn.bulbagarden.net/upload/thumb/c/cd/024Arbok.png/500px-024Arbok.png" class="card-img-top" alt="Arbok_Pic">
        <div class="card-body">
        <h5 class="card-title">Arbok!</h5>
            <p class="card-text">Arbok is a serpentine Pokémon that resembles a cobra. It has narrow eyes and several sharp teeth. Just below its head is a large hood with a face-like pattern. This pattern has over 20 possible variations. The pattern typically has two red and yellow eyespots outlined in black, a wide black streak resembling an upturned mouth, and a black V-shaped stripe above the eyespots.</p>
            <p class="card-text">Arbok is capable of crushing opponents by coiling its body around them and squeezing them tightly. It can even flatten steel oil drums. If it encounters an enemy, it raises its head, mimics, and stuns the opponent using the frightening pattern on its body. It can also make eerie sounds by expelling air from its mouth. It has been stated that if any part of Arbok's body except for the head is cut off, it can regrow the rest of its body again in a matter of a few weeks. It also has the ability to detect vibrations as shown in the anime. Arbok has been known to be capable of spending long periods underwater and surviving in aquatic environments. One particular Arbok could change its pattern at any time to increase power to different stats and get invulnerability to status conditions, if the pattern is uncovered.</p> 
            <p class="card-text">Arbok is territorial. It lashes out at intruders with long fangs tipped with deadly venom. Vengeful in nature, it will not give up a chase once it targets its prey or an opponent, no matter how far. It makes its home in grassy savannas and plains, but it can also be found in forests and desolate wastelands alongside its pre-evolved form Ekans. In the wild, it hunts smaller Pokémon, and also preys on Pidgey and Spearow Eggs. When hunting, it uses the pattern on its hood to immobilize prey, then it begins constricting them, and it finally poisons the target to finish them off and eat them. It is also capable of paralyzing opponents with its former signature move, Glare.</p>
            <footer class="blockquote-footer"><cite title="Source Title">Bulbapedia</cite></footer>
            <a href="https://bulbapedia.bulbagarden.net/wiki/Arbok_(Pok%C3%A9mon)" class="btn btn-primary">Learn more about Arbok</a>
        </div>
        </div>
    </body>
</html>