<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" rel="stylesheet">
        <title>Charizard</title>
    </head>
    <body>
    <div class="alert alert-danger" role="alert">
    A simple danger alert—check it out!
    </div>
    <div class="card mx-auto">
        <img src="https://cdn.bulbagarden.net/upload/thumb/7/7e/006Charizard.png/500px-006Charizard.png" class="card-img-top" alt="Charizard_Pic">
        <div class="card-body">
        <h5 class="card-title">Charizard!</h5>
            <p class="card-text">Charizard is a draconic, bipedal Pokémon. It is primarily orange with a cream underside from the chest to the tip of its tail. It has a long neck, small blue eyes, slightly raised nostrils, and two horn-like structures protruding from the back of its rectangular head. There are two fangs visible in the upper jaw when its mouth is closed. Two large wings with blue-green undersides sprout from its back, and a horn-like appendage juts out from the third joint of each wing. A single wing-finger is visible through the center of each wing membrane. Charizard's arms are short and skinny compared to its robust belly, and each limb has three white claws. It has stocky legs with cream-colored soles on each of its plantigrade feet. The tip of its long, tapering tail burns with a sizable flame.</p>
            <p class="card-text">Charizard flies in search of powerful opponents to battle, and its fire will burn hotter as it gains experience. Its fiery breath is capable of melting boulders, massive glaciers, and has been known to accidentally cause forest fires. In the past, Blast Burn was its signature move. Charizard typically inhabits mountains and valleys, such as the Charicific Valley in Johto. The anime has shown that only a weak Charizard would show off its power. It also showed that Charizard can swim underwater, with Pokémon Origins further showing that the flame on the tip of the tail can still keep burning underwater. The wings of Charizard can carry to an altitude of 4,600 feet (1,400 meters).</p>
             <footer class="blockquote-footer"><cite title="Source Title">Bulbapedia</cite></footer>
            <a href="https://bulbapedia.bulbagarden.net/wiki/Charmander_(Pok%C3%A9mon)" class="btn btn-primary">Learn more about Charmander</a>
        </div>
        </div>
    </body>
</html>