<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" rel="stylesheet">
        <link rel="icon" href="https://img.pngio.com/pokeball-pokemon-ball-png-images-45334-free-icons-and-png-pokeball-icon-png-894_894.png">
        <title>Mew</title>
    </head>
    <body class="blue">
    <div class="alert alert-primary" role="alert">
    Congratulations! Your starting Pokemon is Psychic-type. Psychic-type Pokemon have access to an exclusive Terrain move that boosts Psychic-type attacks' power. However, Pyschic-type moves do not affect Dark-type Pokemon. Scroll down to learn more about your starter Pokemon!
    </div>
    <div class="card mx-auto" style="width: 75%;">
        <img src="https://cdn.bulbagarden.net/upload/thumb/b/b1/151Mew.png/500px-151Mew.png" class="card-img-top" alt="Mew_pic">
        <div class="card-body">
        <h5 class="card-title">Mew!</h5>
            <p class="card-text">Mew is a pink, bipedal Pokémon with mammalian features. It has a rounded, wide snout, triangular ears, and large, blue eyes. It has short arms with three-fingered paws and large hind paws with oval markings on the soles. Its tail is long and thin with an ovoid tip. Its fur is so fine and thin, it can only be seen under a microscope. Mew is said to have the DNA of every single Pokémon contained within its body, allowing Mew to learn and use any attack.</p>
            <p class="card-text">As demonstrated by its behavior in the first and eighth Pokémon movies, it shows signs of intelligence, curiosity, shyness, playfulness, and even selflessness. Mew is incredibly adaptable, able to travel freely in the air or underwater. As seen in Pokémon Snap and the Super Smash Bros. series, it can create a green, yellow, or pink orb of energy around itself for protection, although only the pink orb is seen in the latter.</p> 
            <p class="card-text">Reports found in Cinnabar Island's Pokémon Mansion note scientific expeditions that have sighted Mew in Guyana, South America, the place where it was first discovered. Since Mew can make itself invisible at will, very few people have knowingly seen it, leading some scientists to declare it extinct and most to assume it to be a mirage. It will only show itself to a person who is pure of heart.</p>
            <footer class="blockquote-footer"><cite title="Source Title">Bulbapedia</cite></footer>
            <a href="https://bulbapedia.bulbagarden.net/wiki/Mew_(Pok%C3%A9mon)" class="btn btn-primary">Learn more about Mew</a>
        </div>
        </div>
    </body>
</html>