<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" rel="stylesheet">
        <title>Eiscue</title>
    </head>
    <body class="blue">
    <div class="alert alert-primary" role="alert">
    Your Pokemon is Eiscue!
    </div>
    <div class="card mx-auto">
        <img src="https://cdn.bulbagarden.net/upload/thumb/9/9b/875Eiscue-Ice.png/500px-875Eiscue-Ice.png" class="card-img-top" alt="Tornadus_Pic">
        <div class="card-body">
        <h5 class="card-title">Eiscue!</h5>
            <p class="card-text">Eiscue is a small penguin-like Pokémon with a large ice cube on its head. This ice cube is a light blue, with specks of white seen dotting the surface of it. Two oval-shaped eyes and a beak are seen on the front of it, with a long, antennae-like hair sticking out of the cube. Eiscue's body has two flippers and yellow feet, with three toes on each. Its true face within ice is colored light blue with two white eyes. It has two black eyebrows and a white beak.</p>
            <p class="card-text">Eiscue comes from extremely cold areas. It can produce cold air from inside its head to create ice to protect its head from heat. The ice, however, is not very durable, as a strong blow can shatter it, after which it goes on to create new ice. Eiscue are easygoing and are often seen aimlessly floating in the ocean with just its ice-covered head floating on the surface, occasionally washing up on distant shores. It never panics or gets upset whenever it ends up in a new land, instead continuing due to its ability to adapt.[1] People love the silly, worried expression Eiscue shows when the ice on its head shatters. Eiscue's hair is connected to the surface of its brain, which then chills the air around it when it has something on its mind. The hair is also used to catch prey in the sea.In the anime</p>
             <footer class="blockquote-footer"><cite title="Source Title">Bulbapedia</cite></footer>
            <a href="https://bulbapedia.bulbagarden.net/wiki/Eiscue_(Pok%C3%A9mon)" class="btn btn-primary">Learn more about Tornadus</a>
        </div>
        </div>
    </body>
</html>