<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" rel="stylesheet">
        <title>Dragonite</title>
    </head>
    <body>
    <div class="alert alert-warning" role="alert">
    A simple warning alert—check it out!
    </div>
    <div class="card mx-auto">
        <img src="https://cdn.bulbagarden.net/upload/thumb/8/8b/149Dragonite.png/500px-149Dragonite.png class="card-img-top" alt="Dragonite_Pic">
        <div class="card-body">
        <h5 class="card-title">Dragonite!</h5>
            <p class="card-text">Dragonite is a draconic, bipedal Pokémon with light orange skin. It has large, grayish-green eyes and a round snout with small nostrils. A pair of long, thin antennae sprout from the top of its head with a small horn set between them. Its striated underbelly is cream-colored and extends from its neck to the tip of its long, tapering tail. It has thick arms and legs ending in three claws each. The leg joints are well defined, while its arms have a smooth, rounded appearance. Dragonite's wings are small relative to its body with teal wing membranes.</p>
            <p class="card-text">Despite its bulky build, Dragonite is capable of flying faster than the speed of sound. It can circle the globe in sixteen hours, which would require traveling at a ground speed of roughly 1,556 mph (2,505 km/h) if done at the equator. A kindhearted Pokémon with human-like intelligence, Dragonite shows signs of altruism: it is said to save humans from drowning and lead lost or foundering ships to safety. As demonstrated in the anime, however, it will go on an uncontrollable, destructive rampage if its environment is threatened. It is known to engage in fierce battles with Kingdra whenever they meet.</p>
             <footer class="blockquote-footer"><cite title="Source Title">Bulbapedia</cite></footer>
            <a href="https://bulbapedia.bulbagarden.net/wiki/Dragonite_(Pok%C3%A9mon)" class="btn btn-primary">Learn more about Dragonite</a>
        </div>
        </div>
    </body>
</html>