<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" rel="stylesheet">
        <title>Blastoise</title>
    </head>
    <body class="blue">
    <div class="alert alert-primary" role="alert">
    Your Pokemon is Blastoise!
    </div>
    <div class="card mx-auto">
        <img src="https://cdn.bulbagarden.net/upload/thumb/0/02/009Blastoise.png/500px-009Blastoise.png" class="card-img-top" alt="Blastoise_Pic">
        <div class="card-body">
        <h5 class="card-title">Blastoise!</h5>
            <p class="card-text">Blastoise is a large, bipedal turtle-like Pokémon. Its body is blue and is mostly hidden by its tough, brown shell. This shell has a cream-colored underside and a white ridge encircling its arms and separating the upper and lower halves. Two powerful water cannons reside at the top of its shell over its shoulders. These cannons can be extended or withdrawn. Blastoise's head has triangular ears that are black on the inside, small brown eyes, and a cream-colored lower jaw. Its arms are thick, and it has three claws on each hand. Its feet have three claws on the front and one on the back. Poking out of the bottom of its shell is a stubby tail.</p>
            <p class="card-text">The powerful cannons on this Pokémon's back are capable of producing water blasts that can pierce steel and concrete and can be used for high-speed charges. Blastoise deliberately makes itself heavy to withstand these powerful blasts and to crush its opponents. It has two former signature moves, Skull Bash and Hydro Cannon. The anime has shown that Blastoise can take the role of a leader in large groups of Squirtle and Wartortle. Its preferred habitat seems to be freshwater ponds and lakes.</p> 
            <footer class="blockquote-footer"><cite title="Source Title">Bulbapedia</cite></footer>
            <a href="https://bulbapedia.bulbagarden.net/wiki/Blastoise_(Pok%C3%A9mon)" class="btn btn-primary">Learn more about Blastoise</a>
        </div>
        </div>
    </body>
</html>