<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" rel="stylesheet">
        <link rel="icon" href="https://img.pngio.com/pokeball-pokemon-ball-png-images-45334-free-icons-and-png-pokeball-icon-png-894_894.png">
        <title>Snorlax</title>
    </head>
    <body class="green">
    <div class="alert alert-success" role="alert">
    Congratulations! Your starting Pokemon is Normal-type. Normal-type Pokemon have the fewest types which deal supereffective damage to them, but they also have the fewest types to which they deal supereffective damage. Although they have high health stats, they have the lowest base Special Attack of all Pokemon. Scroll down to learn more about your starter Pokemon!
    </div>
    <div class="card mx-auto" style="width: 75%;">
        <img src="https://cdn.bulbagarden.net/upload/thumb/f/fb/143Snorlax.png/500px-143Snorlax.png" class="card-img-top" alt="Snorlax_Pic">
        <div class="card-body">
        <h5 class="card-title">Snorlax!</h5>
            <p class="card-text">Snorlax is a huge, bipedal, dark blue-green Pokémon with a cream-colored face, belly, and feet. Its body is composed of mostly its belly, as its limbs are comparatively small. Its head is large with small, pointed ears and two pointed teeth protruding from its lower jaw. It has round feet, which both have three claws and a circular brown paw pad, and short arms with five claws on each hand. Snorlax's bulk makes it the heaviest Normal type.</p>
            <p class="card-text">Snorlax is often found in mountains and forests. It wakes up only to eat, requiring 900 lbs. (400 kg) of food per day before returning to its slumber. It is not a picky eater, as its strong stomach allows it to eat even moldy food without feeling any ill effects. It can even handle thorny plants or Muk's poison. It can also eat while it is resting. Snorlax is docile enough to let children and small Pokémon bounce on its large stomach.</p> 
            <p class="card-text">Snorlax can show awesome power when prompted. As Gigantamax Snorlax, seeds and small rocks that were tangled in its belly fur goes through immense growth and a tree spouts upon its belly. The tree has three red clouds surrounding it like a circle. It almost never moves; even when in battle it only slightly lifts its body and attacks by flailing with its arms and legs. However, its attacks are very powerful — Gigantamax Snorlax is considered to be the strongest Dynamax Pokémon to have been discovered.</p>
            <footer class="blockquote-footer"><cite title="Source Title">Bulbapedia</cite></footer>
            <a href="https://bulbapedia.bulbagarden.net/wiki/Snorlax_(Pok%C3%A9mon)" class="btn btn-primary">Learn more about Snorlax</a>
        </div>
        </div>
    </body>
</html>