<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" rel="stylesheet">
        <link rel="icon" href="https://img.pngio.com/pokeball-pokemon-ball-png-images-45334-free-icons-and-png-pokeball-icon-png-894_894.png">
        <title>Rampardos</title>
    </head>
    <body class="red">
    <div class="alert alert-danger" role="alert">
    Congratulations! Your starting Pokemon is Rock-type! Rock-type Pokemon have the most weaknesses of any type. However, they have very powerful moves, especially when paired with Ground-types. Unfortunately, many Rock-type moves have less than 100% accuracy. Scroll down to learn more about your starter Pokemon!
    </div>
    <div class="card mx-auto" style="width: 75%;">
        <img src="https://cdn.bulbagarden.net/upload/thumb/8/8a/409Rampardos.png/500px-409Rampardos.png" class="card-img-top" alt="Rampardos_Pic">
        <div class="card-body">
        <h5 class="card-title">Rampardos!</h5>
            <p class="card-text">Rampardos is a large, dark-gray dinosaur-like Pokémon resembling a Pachycephalosaurus. It has a dome head, which obstructs its red eyes. It has blue stripes, one on its tail and one on each of its knees and wrists. It has various spikes: one on each knee, two on its blue collar on its neck, two short ones on its nose, and four on its head. Two of these head spikes are bigger than the other two.</p>
            <p class="card-text">Its strength lies within its fierce head-butting attacks. A charging Rampardos can knock down virtually anything with one hit. 100 million years ago, it lived in jungles, where it tore down jungle trees while catching prey. It enjoys barging into objects with its head to train its strength and reflexes. This resulted in its skull becoming harder than steel and a foot thick, which prevents it from fainting if it crashes into anything, even another charging Rampardos. In ancient times, people would dig up its well-developed skull fossil and use it as a helmet. However, because its skull became so thick, its brain also became even smaller than that of Cranidos, leading to theories that it went extinct because of its stupidity.</p>
             <footer class="blockquote-footer"><cite title="Source Title">Bulbapedia</cite></footer>
            <a href="https://bulbapedia.bulbagarden.net/wiki/Rampardos_(Pok%C3%A9mon)" class="btn btn-primary">Learn more about Rampardos</a>
        </div>
        </div>
    </body>
</html>