<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" rel="stylesheet">
        <title>Melmetal</title>
    </head>
    <body>
    <div class="alert alert-success" role="alert">
    A simple success alert—check it out!
    </div>
    <div class="card mx-auto">
        <img src="https://cdn.bulbagarden.net/upload/thumb/e/ea/809Melmetal.png/500px-809Melmetal.png" class="card-img-top" alt="Melmetal_Pic">
        <div class="card-body">
        <h5 class="card-title">Melmetal!</h5>
            <p class="card-text">Melmetal is a large, silvery Pokémon with a humanoid build that consists mostly of liquid metal. Many dark gray hexagonal nuts are embedded in or attached to its body: one around each shoulder, one around the center of each arm, one in each hand, one in each foot, and a small one in the center of its torso. A large, golden hexagonal nut encircles its neck and a smaller one acts as its head. Floating in its head is a small, dark gray sphere. It has a small red tail resembling an electrical wire.</p>
            <p class="card-text">Melmetal is a Pokémon that has come back to life after 3,000 years. In ancient times, it was worshiped for its ability to create metal from anything, which was used to create unique metal tools. According to Professor Willow, Melmetal was considered a sacred being that lived in a secluded area deep within a wooded land that was full of sedimentary rocks rich with magnetite. When Melmetal reaches the end of its life, it will rust and split itself into multiple Meltan from the small shards left behind. The process of evolution has hardened its body, making it incredibly sturdy. However, it is still in a liquid state and has some flexibility, particularly in its arms.[1] The strength of the heavy hex nut arms comes from the centrifugal force, which allows Melmetal to have the strongest punch of all Pokémon. Melmetal is said to be created when one strong Meltan absorbs the group it lives with in order to evolve.</p> 
            <footer class="blockquote-footer"><cite title="Source Title">Bulbapedia</cite></footer>
            <a href="https://bulbapedia.bulbagarden.net/wiki/Melmetal_(Pok%C3%A9mon)" class="btn btn-primary">Learn more about Melmetal</a>
        </div>
        </div>
    </body>
</html>